* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center; 
}

.heart {
    position: relative;
    height: 160px;
    width: 100px;
    background: red;
    border-radius: 200px 200px 0 0 ;
    transform: rotate(45deg);
    margin: 0 auto;
    box-shadow: 15px 0px 15px black;
}

.heart::before{
    content: "";
    position: absolute;
    background: red;
    height: 160px;
    width: 100px;
    border-radius: 200px 200px 0 0 ;
    transform: rotate(-90deg);
    top: 30px;
    left: -30px;
}

.love {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    font: bold 20px arial;
    text-transform: uppercase;
    text-align: center;
}

.love p {
    margin-left: -30px;
}